<html>
    <head>
        <title>Panul's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/"> Panul's Blog</a></h1>
        </div>

        <div>
            <p> publicado: 26/02/2021, 18:15</p>
            <h2><a href="">Meu primeiro post.</a></h2>
            <p>Internacional foi robado no brasileiro de 2020.</p>
        </div>

        <div>
            <p>publicado: 26/02/2021 18:17</p>
            <h2><a href="">Meu segundo post.</a></h2>
            <p> Brazil vai de mal a pior!!!!</p>
        </div>
    </body>







</html>